{% extends 'base.html' %}

{% block content %}
{{super()}}
<div class="container">
<form action="/signup" method="POST">
    <div class="row">
        <div class="col-md-5">
            {% if error %}
            <div class="alert alert-danger">
                {{error}}
            </div>
            {% endif %}
            <div class="form-group">
                <label class="col-sm-4 col-form-label" for="Username">Username</label>
                <input class="form-control form-control-md" type="text" name="username" placeholder="Username" required>
            </div>
            <div class="form-group">
                <label class="col-sm-4 col-form-label" for="email">E-mail Address</label>
                <input class="form-control form-control-md" type="email"  name="email" placeholder="mail@mail.com" required>
            </div>
            <div class="form-group">
                <label class="col-sm-4 col-form-label" for="confirm_email">Confirm E-mail Address</label>
                <input class="form-control form-control-md" type="email" name="confirm_email" placeholder="mail@mail.com" required>
            </div>
            <div class="form-group">
                <label class="col-sm-4 col-form-label" for="Password">Password</label>
                <input class="form-control form-control-md" type="password" name="password" placeholder="Password" required>
            </div>
            <div class="form-group">
                <label class="col-sm-4 col-form-label" for="Username">Confirm Password</label>
                <input class="form-control form-control-md" type="password" name="confirm_password" placeholder="Confrirm Password" required>
            </div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
    </div>
</form>
</div>
{% endblock %}